<!DOCTYPE html>
{% extends "AppTwo/base.html" %}
  {% block body_block %}
        <!-- <h1>Working!</h1>
        <h2>Go to /users to see the user list</h2>
        <h2>Go to /formpage to fill out the form</h2> -->
      <div class="jumbotron">
        <h1>Recipe Creation Home Page</h1>
      </div>
        <!-- <h1>Welcome!</h1>
        <h1>index.html showing!</h1>
        <h2>Go to /users to sign up!</h2>
        <h1>{{ text|cut:'world' }}</h1>
        <h1>{{ number|add:"99" }}</h1> -->
  {% endblock %}
