<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Please sign up here!</h1>
        <form method="POST">
          {{form.as_p}}
          {%csrf_token%}
          <input type="submit" class='btn btn-primary' value="Submit">
        </form>
      </div>

    </div>

    <!-- <h1>Here are your users for AppTwo:</h1>
    {%if users %}
      <ol>
        {% for person in users %}
        <li>User Info</li>
          <ul>
            <li>First Name: {{person.first_naame}}</li>
            <li>Last Name: {{ person.last_name}}</li>
            <li>Email: {{person.email}}</li>
          </ul>
          {% endfor %}
      </ol>

    {% endif %} -->

  </body>
</html>
